name: CI

on:
  push:
    branches: [master]
  pull_request: ~

env:
  FORCE_COLOR: 1

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2
    - name: Run pre-commit
      run: pre-commit run --show-diff-on-failure --color=always
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ['3.13', '3.12', '3.11', '3.10']
    steps:
    - uses: actions/checkout@master
    - name: Get Poetry version from .mise.toml
      uses: SebRollen/toml-action@v1.0.2
      id: get-poetry-version
      with:
        file: .mise.toml
        field: tools.poetry
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup
      uses: abatilo/actions-poetry@v3
      with:
        poetry-version: ${{ steps.get-poetry-version.outputs.value }}
    - name: Install pip dependencies
      run: poetry install
    - name: Test with coverage
      run: poetry run pytest --cov --cov-branch --cov-report=xml
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
