name: CI

on:
  push:
    branches: [master]
  pull_request: ~

env:
  FORCE_COLOR: 1

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - uses: pre-commit/action@v3.0.0
  test:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install poetry
      uses: abatilo/actions-poetry@v2.4.0
      with:
        poetry-version: '1.6.1'
    - name: Install pip dependencies
      run: poetry install
    - name: Test
      run: poetry run pytest tests/
