name: CI

on:
  push:
    branches: [master]
  pull_request: ~

env:
  FORCE_COLOR: 1

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2
    - name: Run pre-commit
      run: pre-commit run --show-diff-on-failure --color=always
  test:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - uses: jdx/mise-action@v2
    - name: check versions
      run: |
        python --version
        poetry --version
    - name: Install pip dependencies
      run: poetry install
    - name: Test with coverage
      run: poetry run pytest --cov --cov-branch --cov-report=xml
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
